<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Voltar</ons-back-button>
        </div>
        <div class="center">Homepage</div>
    </ons-toolbar>

    <section style="padding: 10px">

        <p>
            The São Paulo State Technological Colleges or FATECs (Portuguese: Faculdades
            de Tecnologia do Estado de São Paulo) are public institutions of higher education
             belonging to CEETEPS (State Center of Technological Education), governmental
             maintainer. The FATECs are important Brazilian institutions of higher education,
              being pioneers in the graduation of technologists. They are located in several
              cities of the São Paulo state, with three campuses in the capital (Bom Retiro,
              East Zone and South Zone), and several other units in the metropolitan region of
              São Paulo, countryside and seashore.
          </p>
          <p>

              The 46 FATECs offer high degree careers in virtually all areas of knowledge.
              In most of the units, are offered courses of higher education in technology,
               focused in the training of technologists. The units of São Caetano do Sul,
               Ourinhos, Carapicuíba and Americana, however, offer the option of bachelorship
               and licentiate degree in the career of System Analysis and Information Technology,
                starting the tradition of FATECs to train, too, bachelors and licentiates.
          </p>
          <p>
              More than 28 thousand students are currently enrolled in FATECs.[1] For
              the formation of this quota is annually invested more than R$ 1 billion
               (US$ 420,000 mi).[2]
          </p>

    </section>
</ons-page>
